@charset "UTF-8";


*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: #333;} 
body{font-family: 'Pretendard'; background: #e7e8e4;}

/* font-family: 'JSongmyeong'; */


/* body > div{border: 1px solid red;}  /* body의 자식인 div만 빨간 보더 */
/*body > div > *{border: 1px solid blue;} */

.header{margin-bottom: 60px; }
.header .face{width: 110px; height: 110px; margin: 40px auto 20px auto; border-radius: 50%; overflow: hidden;}
/* overflow:hidden 클리핑마스크라고 생각하면 됨, 속성적용대상 유의해서 사용하기!! */
.header .face img{width: 100%; }
/* width, height 다 주면 비율이 달라져서 둘 중 하나만 줌 */
.header .name{font-size: 24px; text-align: center; margin-bottom: 5px;}
.header .position{font-size: 16px; color: #656565; text-align: center;}


.textbox{margin-bottom: 60px; text-align: center;}
.textbox .big{font-family: 'JSongmyeong'; font-size: 20px;}
.textbox .small{font-size: 14px; color: #cfcaca;}


.btnbox{margin-bottom: 60px; padding: 0 30px; }
.btnbox a{background: #7a936f; color: #fff; font-size: 16px; padding: 12px 0; display: block; text-align: center; margin-bottom:10px; }
/* padding 값 상하만 주고 좌우는 안주는 이유는 '이메일보내기' 만 길이가 달라서! 
> 한 줄에 버튼 하나만 있으니까 block으로 바꾸기 + 좌우마진줘서 해결할 수 있고 
또다른 방법으로 여기서는 a태그는 block으로 바꾸고 그 부모태그인 btnbox에 좌우 패딩값을 줌 */
.btnbox .sms{background:#6f7883 ;}
.btnbox .kakao{background:#99925e ;}
.btnbox .email{background:#836f6f ;}


.photobox{margin-bottom: 60px; }
.photobox .title{font-size: 16px; text-align: center; margin-bottom: 50px; color: #fff;}
.photobox .imgbox{display: flex; padding: 0 30px; gap:24px 15px; flex-wrap: wrap; justify-content: center;}
.photobox .imgbox li{width: 120px; height: 120px; flex-shrink:0 ; }
/* flex를 주면 간격을 줄 수도 있어짐 그래서 gap 속성 사용할 수 있음
flex 때문에 자식들이 임의로 작아지는 걸 막으려면 자식에 속성으로 flex-shrink:0; 주면 됨 
> 커지면서 화면밖으로 나가서 줄바꿈 하고 싶으면 다시 부모속성으로 가서 flex-wrap: wrap; 적용하면 됨
=display:flex 있는 곳에 같이 적으면 됨*/

.photobox{padding: 28px 0; background:url(../image/bg_photobox.png) repeat-x;}
/* 초록 배경박스를 하려면 position=absolute 써야 하는데 아직 안 배워서 배웠던 걸로 일단 진행
no-repeat 하면 화면이 늘어났을 때 같이 안 늘어나서 repeat-x 해서 가로방향으로는 화면에 맞춰 늘어나게 설정 */

.photobox .imgbox li:nth-child(2n){margin-top: 80px; }
.photobox .imgbox li img{width: 100%;}
/* 이미지 크기를 크게 저장 후 미리 만들어 크기에 맞춰 조정 
(작게 저장했다가 부족하면 이미지 깨지니까...) */

.direction{margin-bottom: 60px; padding: 0 30px;}
.direction .title{font-size: 16px; text-align: center; margin-bottom: 50px;}
.direction .direct_map{height: 400px;}